.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 540px;
  max-height: 60%;
  display: flex;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .poke-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.type-img > img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.poke-image-container {
  height: 300px;
  width: 300px;
}

.poke-image-container > img {
  border: 1px solid black;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.modal-body > .poke-name {

  border: 1px solid;
  border-radius: 8px;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 3px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.type-container {
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 3px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

.type-unique {
  margin: 0px 5px;
}

.poke-stats {
  display: flex;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  height: 185px;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}