.pokemon-sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  height: 630px;
  max-width: 250px;
  width: 25%;
  background: #5c6e6e7e;
  /* border: 5px rgba(0, 0, 0, 0) solid; */
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.5); 
  border-radius: 6px;
  overflow: scroll;
}

.pokemon > button {
  box-sizing: border-box;
  background-color: rgba(230, 255, 128, 0.3);
  border: white 2px solid;
  border-radius: 8px;
}

.clicked-location {
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(7, 42, 124);
  max-width: 120px;
  border-radius: 8px;
  padding: 4px 50px;
  position: absolute;
  z-index: 7;
}

.pokemon > button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 2px white;
  background-color: rgba(167, 190, 74, 0.75);
  text-shadow: 0 0 2px rgb(255, 60, 0);
}

button > .info {
  position: relative;
  bottom: 10px;
  color: rgb(0, 0, 0);
}

.pokemon-sidebar::-webkit-scrollbar {
  width: 10px;
  height: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pokemon-sidebar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #000;
}

li {
  padding: 20px;
}

li:first-child {
  margin-top: 50px;
}

/* #pokemon-list li:only-child {
  
} */