h1 {
  height: 60px;
}

body {
  background-color: rgb(206, 60, 72);
  margin: 0px 30px;
}

#main-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#map {
  width: 60%;
  height: 630px;
  border: 10px rgba(0, 0, 0, 0) solid;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.pokemon-sidebar {
  height: 630px;
  width: 25%;
  background: rgba(0, 0, 0, 0.5);
  border: 10px rgba(0, 0, 0, 0) solid;
  border-radius: 8px;
  overflow: scroll;
}

.pokemon-sidebar::-webkit-scrollbar {
  width: 10px;
  height: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.pokemon-sidebar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #000;
}

li {
  padding: 20px;
}
