.logo-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.logo-container > img {
  width: 130px;
}

body {
  background-color: rgb(206, 60, 72);
  margin: 0px 30px;
  font-family: 'Noto Sans', sans-serif;
}

#main-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#map {
  width: 60%;
  height: 630px;
  max-width: 1000px;
  border: 10px rgba(0, 0, 0, 0) solid;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

/* loader */
.loading-img {
  height: 70px;
  width: 70px;
}

#loading {
  width: 70px;
  height: 70px;
  margin: auto;
  visibility: hidden;
  position: absolute;
  top: 50%;
  z-index: 10;
}
#loading.display {
  visibility: visible;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}




